*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
html, body{
	height: 100%;
	width: 100%;
}
nav{
	background-color: hsla(360, 100%, 100%, 0.48);
	font-size: 1.5em;
}

main{
	height: 100%;
	width: 100%;
	background-color: #6D6466;
}
.prof{
	border-radius: 50%;
}
.who{
	text-align: right;
}
@media only screen and (max-width: 360px ){
html{
		font-size:.7em;
}
.who{
	text-align: center;
}
}

@media only screen and (max-width:768px) and (min-width: 640.8px){
html{
	font-size: 9em;
}